<div id="header">
    <p>手势密码</p>
</div>
<div id="body">
    <div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <canvas id="canvas" width="768" height="360" style="position:absolute;left:0;top:0;z-index:-1;">您的手机不支持canvas</canvas>
    <div id="info">
        <p>请输入手势密码</p>
    </div>
    <div id="select">
        <form action="">
            <label>
                <input type="radio" name="psd">
                <span>设置密码</span>
            </label>
            <label>
                <input id="check" type="radio" name="psd">
                <span>验证密码</span>
            </label>
        </form>
    </div>
</div>